/* GENERAL */

html, body, main {
    margin: 0; 
    font-family: "Trebuchet MS", "Arial", sans-serif; 
    background-color: lavenderblush; 
}

header h1 {
    font-size: calc(2rem + 2vw);
    margin: calc(0.2rem + 0.2vw);  
    margin-top: calc(1rem + 1vw); 
    margin-bottom: calc(4rem + 4vw); 
    text-align: center; 
}

/* INPUT STYLES */

main label {
    font-size: calc(1rem + 1vw);
}
main div {
    margin: calc(0.5rem + 0.5vw); 
    text-align: center; 
} 

main div input[type="text"] {
    padding: calc(0.3rem + 0.3vw); 
    margin-left: calc(0.3rem + 0.3vw); 
    width: calc(10rem + 10vw); 
    font-size: calc(1rem + 1vw);
}

main div input[type="submit"] {
    padding: calc(0.5rem + 0.5vw); 
    width: calc(20rem + 20vw); 
    border: none;
    background-color: mistyrose; 
    font-size: calc(1rem + 1vw);
    letter-spacing: calc(0.4rem + 0.4vw);
    border-radius: calc(0.3rem + 0.3vw); 
}

main div input[type="submit"]:hover {
    background-color: pink; 
}

main div input[type="submit"]:active {
    background-color: lightpink; 
}

/* PARA STYLE */

p {
    font-size: calc(1.7rem + 1.7vw);
    color: salmon; 
}
